body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #111111;
    color: #d60202;
    padding: 10px 0;
}

header .logo {
    text-align: center;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.destaques h2, .catalogo h2, .precos h2, .comentarios h2 {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.item {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item h3 {
    margin: 15px 0 10px 0;
}

.planos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.plano {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

footer {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
